details.accordion {
	position: relative;
	z-index: 0;
	overflow: hidden;
}

details.accordion > summary {
	background-color: var(--accordion-theme-color, #4688f4);
	color: var(--accordion-header-color, #fefefe);
	padding: 0.8em;
	position: relative;
	z-index: 1;
	list-style: none;
	font-weight: 800;
}

details.accordion > summary::marker {
	display: none;
}

details.accordion > * {
	border-bottom: 1px solid var(--accordion-border-color, #6a6a6a);
}

details.accordion > summary::-webkit-details-marker {
	display: none;
}

details.accordion > :not(summary) {
	background-color: var(--accordion-body-background,  #343434);
	color: var(--accordion-body-color, #fefefe);
	padding: 0.6em 1.7em;
	border-left: 8px solid transparent;
	transform-origin: top;
	transition: border-color 400ms ease-in-out;
}

details.accordion[open] > :not(summary) {
	animation: accordion-animation 4000ms ease-in-out;
}

details.accordion > :not(summary):hover {
	border-color: var(--accordion-theme-color, #4688f4);
}

:root.no-details details.accordion > summary::before {
	content: '';
	display: none;
}

@keyframes accordion-animation {
	from {
		/* transform: translate3d(0, -100%, 0); */
		/* visibility: visible; */
		max-height: 0;
	}

	to {
		max-height: 100%;
		/* transform: translate3d(0, 0, 0); */
	}
}
