.spacer {
	display: inline-block;
	height: 100%;
	width: 0;
	padding: 0;
	margin: 0 0.5em;
	border-right: 2px solid currentColor;
}
.resizeable {
	resize: both;
	overflow: auto;
}
@media screen and (min-width: 800px) {
	.sticky {
		position: sticky;
		margin-top: 0;
	}
}
.blur {
	filter: blur(1px);
}
.grayscale {
	filter: grayscale(1);
}
.blur.grayscale {
	filter: blur(1px) grayscale(1)
}
.flex {
	display: flex;
}
.flex.row {
	flex-direction: row;
}
.flex.column {
	flex-direction: column;
}
.flex.wrap {
	flex-wrap: wrap;
}
.block {
	display: block;
}
.inline {
	display: inline;
}
.inline-block {
	display: inline-block;
}
.currentColor {
	fill: currentColor;
}
:root.hidden * {
	animation-play-state: paused;
}
:root.offline {
	pointer-events: none;
}
:root.loading {
	cursor: progress;
}
.logo svg {
	width: 100%;
	height: 100%;
}
.logo {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	width: 3rem;
	height: 3rem;
	overflow: visible;
	transition: all 1s;
}
.logo svg,
.logo img
{
	overflow: visible;
}
footer .logo{
	color: #333;
}
.icon svg {
	color: inherit;
	fill: currentColor;
}
.logo:hover {
	transform: scale(2)rotateZ(360deg);
}
.copyleft {
	color: var(--alt-color);
	font-size: 3rem;
}
.copyleft::before {
	content: '©';
	display: inline-block;
	*display: inline;
	*zoom: 1;
	transform: rotateY(180deg);
}
