*, ::after, ::before {
	box-sizing: inherit;
	max-width: 100%;
}

[hidden], template, dialog:not([open]), details:not([open]) > :not(summary), menu[type="context"] {
	display: none;
}

dialog {
	position: absolute;
	left: 0; right: 0;
	width: -moz-fit-content;
	width: -webkit-fit-content;
	width: fit-content;
	height: -moz-fit-content;
	height: -webkit-fit-content;
	height: fit-content;
	margin: auto;
	border: solid;
	padding: 1em;
	background: white;
	color: black;
	display: block;
	z-index: 100;
}

dialog + .backdrop {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 99;
}

dialog + .backdrop, dialog::backdrop {
	background: var(--backdrop-background, rgba(0,0,0.1));
}

/*._dialog_overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}*/

dialog.modal {
	position: fixed;
	top: 50%;
	transform: translate(0, -50%);
}

.no-details details > summary::before {
	content: '\25B6';
	padding-right: 0.5em;
}

.no-details details[open] > summary::before {
	content: '\25BC';
}

details > summary:only-child,
details > summary:only-child::before,
details > summary:only-child::after {
	display: none;
}

body {
	margin: 0;
	padding: 0;
	min-height: 100vh;
}

a, button:not(:disabled), [role="button"], input[type="submit"],
input[type="reset"], input[type="image"] {
	cursor: var(--pointer, pointer);
}

button, [role="button"] {
	min-width: 2rem;
	padding: 0.2rem;
	background: var(--button-background, initial);
	font-family: var(--button-font, inherit);
	color: var(--button-color, initial);
	border: var(--button-border, 0.2rem outset black);
}

:disabled, .disabled {
	cursor: not-allowed;
	pointer-events: none;
}

button:disabled, [role="button"]:disabled, [role="button"].disabled
{
	background: var(--button-disabled-background, initial);
	color: var(--button-disabled-color, initial);
	box-shadow: 0 0 0.3rem var(--shadow-color, rgba(0,0,0,0.4)) inset;
	border: var(--button-disabled-border, 0.2rem inset black);
}

button:active, [role="button"]:active, [role="button"].active
{
	background: var(--button-active-background, initial);
	color: var(--button-active-color, initial);
	border: var(--button-active-border, 0.2rem inset black);
}

details > summary {
	cursor: var(--pointer, pointer);
}

a, [download] {
	font-family: var(--link-font, inherit);
	color: var(--link-color, initial);
	text-decoration: var(--link-decoration, none);
}

a:visited:hover:not([rel="bookmark"]) {
	color: var(--visited-color, initial);
}

img {
	max-width: 100%;
	height: auto;
}

figure figcaption {
	color: dimgray;
	text-decoration: underline;
	font-style: italic;
}

blockquote {
	color: #777;
	font-family: 'Libertine';
	font-style: italic;
	padding: 0px 15px;
	border-left: 4px solid #DDD;
}

blockquote cite {
	display: block;
}

blockquote cite::before {
	content: ' — ';
}

code {
	display: inline-block;
	padding: 0.1rem;
	font-size: 0.9rem;
	font-family: hack, Courier, monospace;
	border-radius: 0.2em;
	white-space: pre;
}

pre > code {
	display: block;
	padding: 1rem;
	border-radius: 0.3rem;
	overflow-x: auto;
}

::backdrop, .backdrop {
	background: var(--backdrop-background, none);
}

.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 3;
}

[contenteditable="true"]:empty {
	min-height: 1.3rem;
	border: 1px dotted dimgray;
}

[contenteditable="true"] img {
	resize: both;
}

ol > ol {
	list-style-type: upper-alpha;
}

ol > ol > ol {
	list-style-type: upper-roman;
}

ol > ol > ol > ol {
	list-style-type: lower-alpha;
}

ol > ol > ol > ol > ol {
	list-style-type: lower-roman;
}
