@charset "UTF-8";

[data-click="toggle-sidebar"] svg {
	font-size: 48px;
}

img.avatar {
	vertical-align: middle;
	margin-left: 1.2em;
}

#header {
	background-image: url("/neon.svg");
}

#footer {
	padding: 1.4rem;
	background: #232323;
	color: #dedede;
}
