@charset "UTF-8";

#menu-open-btn {
	width: 2.8rem;
	font-size: 1.4em;
}

img.avatar {
	vertical-align: middle;
	margin-left: 1.2em;
}

#nav.flex {
	gap: 8px;
}

#header {
	background-image: url("/neon.svg");
}

#footer {
	padding: 1.4rem;
	background: #232323;
	color: #dedede;
}
