@charset "UTF-8";
@import url("./theme/default/index.css");
@import url("./layout/index.css");
@import url("./element.css");
@import url("./class-rules.css");
@import url("./cdn-fonts.css");
@import url("./animations.css");
@import url("./print.css");
@import url("./scrollbar.css");
@import url("./accordion.css");

:root {
	--scrollbar-color: var(--accent-color);
	--scrollbar-track: var(--primary-color);
	--scrollbar-width: auto;
}

[data-click="toggle-sidebar"] svg {
	font-size: 48px;
}

img.avatar {
	vertical-align: middle;
	margin-left: 1.2em;
}

#header {
	background-image: url("/neon.svg");
}

#footer {
	padding: 1.4rem;
	background: #232323;
	color: #dedede;
}
