a[rel=tag]::after {
	content: var(--tag-icon);
}
[rel=next]::after {
	font-size: 1rem;
	font-family: var(--icon-font);
	color: var(--default-color);
	content: var(--next-icon);
}
[rel=prev]::after {
	font-size: 1rem;
	font-family: var(--icon-font);
	color: var(--default-color);
	content: var(--prev-icon);
}
a[rel=bookmark]::after {
	content: '';
}
