:root {
	box-sizing: border-box;
}
*, *::after, *::before {
	box-sizing: inherit;
	max-width: 100%;
}
::-moz-selection {
	background-color: var(--primary-color, initial);
	text-shadow: none;
}
::selection {
	background-color: var(--primary-color, initial);
	text-shadow: none;
}
menu[type="context"], template {
	display: none;
}
button,
[role="button"]
{
	min-width: 2rem;
	padding: 0.2rem;
	background-color: var(--primary-color, #E7E7E7);
	background-image: linear-gradient(var(--primary-color, #E7E7E7), var(--highlight-color, #D0D0D0));
	font-family: inherit;
	color: var(--default-color, initial);
	border: 0.2rem outset var(--primary-color, initial);
}
button:disabled,
button:active,
[role="button"]
{
	background-color: var(--highlight-color, #D0D0D0);
	background-image: linear-gradient(var(--highlight-color, #D0D0D0), var(--primary-color, #E7E7E7));
	border: 0.2rem inset var(--primary-color, black);
	box-shadow: 0 0 0.3rem var(--shadow-color, #222) inset;
	cursor: not-allowed;
}
a,
[download] {
	font-family: inherit;
	color: var(--link-color, blue);
	text-decoration: none;
}
a:not([rel="bookmark"]):hover:visited {
	color: var(--visited-color, purple);
}
img {
	max-width: 100%;
	height: auto;
}
figure {
	border: var(--border-radius, 0.1em) solid dimgray;
	text-align: center;
}
figure figcaption {
	color: dimgray;
	text-decoration: underline;
	font-style: italic;
}
blockquote {
	color: #777;
	font-family: 'Libertine';
	font-style: italic;
	padding: 0px 15px;
	border-left: 4px solid #DDD;
}
blockquote cite {
	display: block;
}
blockquote cite::before {
	content: ' — ';
}
a,
button:not(:disabled),
[role="button"],
input[type="submit"],
input[type="reset"],
input[type="image"] {
	cursor: var(--pointer, pointer);
}
[data-caption] {
	position: relative;
}
[data-caption]:hover::before {
	all: initial;
	display: block;
	min-width: 100%;
	position: absolute;
	bottom: 0;
	content: attr(data-caption);
	font-size: 0.8rem;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.8);
	border: 1px solid #333;
	overflow: visible;
}
code {
	display: inline-block;
	padding: 0.1rem;
	background-color: #F5F5F5;
	background-color: rgba(0, 0, 0, 0.04);
	color: #333;
	font-size: 0.9rem;
	font-family: hack, Courier, monospace;
	border-radius: 0.2em;
	white-space: pre;
}
pre > code {
	display: block;
	padding: 1rem;
	background-color: rgb(51, 51, 51);
	color: rgb(255, 249, 217);
	border-radius: 0.3rem;
	overflow-x: auto;
}
[contenteditable="true"]:empty {
	min-height: 1.3rem;
	border: 1px dotted dimgray;
}
[contenteditable="true"] img {
	resize: both;
}
ol > ol {
	list-style-type: upper-alpha;
}
ol > ol > ol {
	list-style-type: upper-roman;
}
ol > ol > ol > ol {
	list-style-type: lower-alpha;
}
ol > ol > ol > ol > ol {
	list-style-type: lower-roman;
}
