@charset "UTF-8";
form, aside, nav, footer a, menu[type="context"], dialog, details, svg:not([height]), svg:not([width]) {
	display: none;
}
a {
	color: inherit;
}
article a[href^="http"]::after {
	content: ' <' attr(href) '>';
}
article a[href^="//"]::after {
	content: ' <http:' attr(href) '>';
}
abbr[title]::after {
	content: ' (“' attr(title) '”)';
}
