@charset "UTF-8";

@media print {
	.no-print {
		display: none !important;
	}

	.print-hidden {
		visibility: hidden !important;
	}

	a {
		color: inherit;
	}

	article a[href^="http"]::after {
		content: ' <' attr(href) '>';
	}

	article a[href^="//"]::after {
		content: ' <https:' attr(href) '>';
	}

	abbr[title]::after {
		content: ' (“' attr(title) '”)';
	}
}
