@charset "UTF-8";

@layer layout.core-css.print {
	@media print {
		.no-print {
			display: none;
		}

		.print-hidden {
			visibility: hidden;
		}

		a {
			color: inherit;
		}

		article a[href^="http"]::after {
			content: ' <' attr(href) '>';
		}

		article a[href^="//"]::after {
			content: ' <https:' attr(href) '>';
		}

		abbr[title]::after {
			content: ' (“' attr(title) '”)';
		}
	}
}
