progress {
	display: inline-block;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.3);
	appearance: none;
	border: none;
}

progress:not([value])::-moz-progress-bar {
	width: auto;
}

progress:not([value])::-webkit-progress-value {
	width: auto;
}

progress[value]::-webkit-progress-value {
	background-image: var(--progress-grad, linear-gradient(green, lightgreen, green));
}

progress[value]::-moz-progress-bar {
	background-image: var(--progress-grad, linear-gradient(green, lightgreen, green));
}
