@supports(scroll-snap-type: mandatory) {
	[data-scroll-snap="horizontal"] {
		display: flex;
		flex-flow: row nowrap;
		scroll-snap-type: mandatory;
		overflow-x: auto;
		scroll-snap-destination: 0% 100%;
		scroll-snap-points-x: repeat(100%);
	}
	[data-scroll-snap="horizontal"] > * {
		flex-basis: 100%;
		flex-shrink: 0;
		height: inherit;
		overflow-x: auto;
	}
	[data-scroll-snap="vertical"] {
		display: flex;
		flex-flow: column;
		scroll-snap-type: mandatory;
		overflow-y: auto;
		scroll-snap-destination: 100% 0;
		scroll-snap-points-y: repeat(100%);
	}
	[data-scroll-snap="vertical"] > * {
		flex-flow: column wrap;
		height: inherit;
		min-height: inherit;
		max-height: inherit;
		flex-basis: 100%;
		flex-shrink: 0;
		height: inherit;
		overflow-y: auto;
	}
}
