table.themed-table {
	background-color: var(--table-background, #fefefe);
	position: relative;
}

table.themed-table thead, table.themed-table tfoot {
	background-color: var(--table-header-background, var(--accent-color, #5050ff));
	color: var(--table-header-color,  #fafafa);
	box-shadow: 0 4px 2px rgba(0, 0, 0, 0.3);
}

table.themed-table thead th, table.themed-table tfoot th {
	padding: var(--table-th-v-padding, 0.4em) var(--table-th-h-padding, 0.6em);
}

table.themed-table tbody td {
	padding: var(--table-cell-v-padding, 0.2em) var(--table-cell-h-padding, 0.5em);
	color: var(--table-cell-color, #242424);
	cursor: cell;
	transition: color 300ms ease-in-out, background-color 300ms ease-in-out;
}

table.themed-table tbody td:hover {
	background-color: var(--table-cell-hover-background, var(--accent-color, #5050ff));
	color: var(--table-cell-hover-color, #fafafa);
}

table.themed-table tbody tr {
	outline: 3px solid transparent;
	transition: outline-color 300ms ease-in-out;
}

table.themed-table tbody tr:hover {
	outline-color: var(--table-row-hover-outline-color, var(--accent-color, #5050ff));
}

table.themed-table tbody tr:nth-child(odd) {
	background-color: var(--table-row-odd-background, #fafafa);
}

table.themed-table tbody tr:nth-child(even) {
	background-color: var(--table-row-even-background, #E7E7E7);
} 
