menu[type="toolbar"] {
	height: 1.7rem;
	background: #ddd;
	color: #333;
	margin: 0;
	padding: 0;
}
menu[type="toolbar"] a::after {
	all: unset;
}
menu[type="toolbar"] menu[label]::before, menu[type="toolbar"] menuitem[label]::before {
	content: attr(label);
	color: inherit;
}
menu[type="toolbar"] menu {
	background: inherit;
}
menu[type="toolbar"] menu:not(:hover) > * {
	display: none;
}
menu[type="toolbar"] menuitem[label]::before {
	content: attr(label);
}
menu[type="toolbar"] button, menu[type="toolbar"] [role="button"] {
	margin: 0 0;
	padding: 0.3em;
	color: inherit;
	background: linear-gradient(gainsboro, whitesmoke);
	border: 0.15em outset currentcolor;
}
menu[type="toolbar"] svg {
	fill: currentcolor;
}
menu[type="toolbar"] svg:not([width]) {
	max-width: 100%;
	max-height: 100%;
	width: 1em;
	height: 1em;
}
