body > button.btn[is="share-button"] {
	bottom: 1rem;
	right: 1rem;
	padding: 0.8rem;
	font-size: 1.5rem;
}

#header {
	grid-area: header;
}

#nav {
	grid-area: nav;
}

#sidebar {
	grid-area: sidebar;
}

#main {
	grid-area: main;
}

#footer {
	grid-area: footer;
}

@media (min-width: 801px) {
	#main, #sidebar, #footer {
		margin-top: 1.3rem;
	}
}

:root:not([data-layout="left-sidebar"]) .layout-left-sidebar {
	display: none;
}

:root:not([data-layout="right-sidebar"]) .layout-right-sidebar {
	display: none;
}

:root:not([data-layout="sidebar-collapse"]) .layout-sidebar-collapse {
	display: none;
}
