@import url("../base.css");
@import url("./light.css");
@import url("./dark.css");
@import url("../base.css");

:root, [data-theme="light"] {
	--default-color: var(--default-color-light);
	--primary-color: var(--primary-color-light);
	--accent-color: var(--accent-color-light);
	--contrast-color: var(--contrast-color-light);
	--alt-color: var(--alt-color-light);

	--button-background: var(--button-background-light);
	--button-color: var(--button-color-light);

	--button-active-background: var(--button-active-background-light);
	--button-active-color: var(--button-active-color-light);
	--button-active-border: var(--button-active-border-light);

	--button-disabled-background: var(--button-disabled-background-light);
	--button-disabled-color: var(--button-disabled-color-light);
	--button-disabled-border: var(--button-disabled-border-light);

	--button-accept-background: var(--button-accept-background-light);
	--button-accept-active-background: var(--button-accept-active-background-light);

	--button-reject-background: var(--button-reject-background-light);
	--button-reject-active-background: var(--button-reject-active-background-light);
}

@media screen and (prefers-color-scheme: dark) {
	:root:not([data-theme="light"]) {
		--default-color: var(--default-color-dark);
		--primary-color: var(--primary-color-dark);
		--accent-color: var(--accent-color-dark);
		--contrast-color: var(--contrast-color-dark);
		--alt-color: var(--alt-color-dark);

		--button-background: var(--button-background-dark);
		--button-color: var(--button-color-dark);

		--button-active-background: var(--button-active-background-dark);
		--button-active-color: var(--button-active-color-dark);
		--button-active-border: var(--button-active-dark);

		--button-disabled-background: var(--button-disabled-background-dark);
		--button-disabled-color: var(--button-disabled-color-dark);
		--button-disabled-border: var(--button-disabled-border-dark);

		--button-accept-background: var(--button-accept-background-dark);
		--button-accept-active-background: var(--button-accept-active-background-dark);

		--button-reject-background: var(--button-reject-background-dark);
		--button-reject-active-background: var(--button-reject-active-background-dark);
	}
}

@media screen {
	[data-theme="dark"] {
		--default-color: var(--default-color-dark);
		--primary-color: var(--primary-color-dark);
		--accent-color: var(--accent-color-dark);
		--contrast-color: var(--contrast-color-dark);
		--alt-color: var(--alt-color-dark);

		--button-background: var(--button-background-dark);
		--button-color: var(--button-color-dark);

		--button-active-background: var(--button-active-background-dark);
		--button-active-color: var(--button-active-color-dark);
		--button-active-border: var(--button-active-dark);

		--button-disabled-background: var(--button-disabled-background-dark);
		--button-disabled-color: var(--button-disabled-color-dark);
		--button-disabled-border: var(--button-disabled-border-dark);

		--button-accept-background: var(--button-accept-background-dark);
		--button-accept-active-background: var(--button-accept-active-background-dark);

		--button-reject-background: var(--button-reject-background-dark);
		--button-reject-active-background: var(--button-reject-active-background-dark);
	}
}
