:root {
	--default-color-dark: #EEEEEC;
	--primary-color-dark: #212121;
	--accent-color-dark: #007bff;
	--contrast-color-dark: #AAAAAA;
	--alt-color-dark: #FAFAFA;

	--button-default-background-dark: #2d2d2d;
	--button-default-color-dark: #EEEEEC;
	--button-default-border-dark: 1px solid #070707;

	--button-primary-background-dark: #2d2d2d;
	--button-primary-color-dark: #EEEEEC;
	--button-primary-border-dark: 1px solid #070707;

	--button-active-background-dark: #2660BC;
	--button-active-color-dark: var(--alt-color-dark);
	--button-active-border-dark: var(--button-border);

	--button-primary-active-background-dark: var(--button-active-background-dark, #2660BC);
	--button-primary-active-color-dark: var(--button-active-color-dark, var(--button-primary-color-dark));
	--button-primary-active-border-dark: var(--button-active-border-dark, var(--button-primary-border-dark));

	--button-disabled-background-dark: #787878;
	--button-disabled-color-dark: #4e4e4e;
	--button-disabled-border-dark: var(--button-border-dark);

	--button-accept-background-dark: #28a745;
	--button-accept-active-background-dark: #157a0c;

	--button-reject-background-dark: #dc3545;
	--button-reject-active-background-dark: #7a0c0c;
}
